<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325335534345-ad8ssam9q5usrvlkkrgj4jrvt7vdukhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325335534345-ad8ssam9q5usrvlkkrgj4jrvt7vdukhm</string>
	<key>API_KEY</key>
	<string>AIzaSyCOOKwjePrQyty1fUFZ8F-tvGNl8-sJI2E</string>
	<key>GCM_SENDER_ID</key>
	<string>325335534345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iTalk2</string>
	<key>PROJECT_ID</key>
	<string>italk2-7a6d3</string>
	<key>STORAGE_BUCKET</key>
	<string>italk2-7a6d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325335534345:ios:4ea8edbda57834491021d8</string>
</dict>
</plist>